extends layout

block content
  div.container-fluid
    div.page-header
      h2 API
    h2 JSON
    p json 형태의 로렘 입숨 문단을 요청하여 받을 수 있다.
    pre 
      code GET /api/lorem
    h4 Parameters
    table.table.table-bordered
      tr
        th 이름
        th 값
        th 설명
      tr
        td p
        td int
        td 문단 수(default: 2)
      tr
        td l
        td int
        td 문단 길이(default: 20)
      tr
        td c
        td 1 or 0 
        td ??(default: 0)
    h4 응답
    pre
      code
        | {
        |   "result": [ ... ]
        | }
      
    h2 Raw Text
    p Raw Text의 로렘 입숨 문단을 요청하여 받을 수 있다.
    pre 
      code GET /api/lorem.txt
    h4 Parameters
    table.table.table-bordered
      tr
        th 이름
        th 값
        th 설명
      tr
        td p
        td int
        td 문단 수(default: 2)
      tr
        td l
        td int
        td 문단 길이(default: 20)
      tr
        td c
        td 1 or 0 
        td ??(default: 0)
    h4 사용 예
    pre
      code
        | $ curl -s "http://hipsum.mnpk.org/api/lorem.txt"
        | 하고, 글과 연사가 섬겨 말하였다. 사양치 멀고 가시니 흘리며 말년에 누각 다달아 보낼 용왕이 때 화음 난양을 못하니 바이다. 있었다. 인간 년이었다. 아름답지 면목으로 가 후에 타고 년 위친하는 밝았다.
        | 말하였다. 어찌 하고, 회남 결단하니 승상이 상서가 비록 말하였다. 이별한 두었는데 길을 원컨대 깨어 큰 있어 헛공부를 세상에 계집과 흘리며 아니합니다. 난양의 못하고, 사죄하여 허락하지 내어 할 같으니 신선이구나....
