extends layout

block content
  div(id="fb-foot")
  script(src='/javascripts/fb.js')
  div(ng-controller='main_controller').container
    div.page-header
      h2 한글 로렘 입숨
    div.panel.panel-transparent.col-sm-4
      div.panel-body
        form
          div.form-group
            label.control-label 문단 수
            input(type='number' ng-model='query.p' ng-change='getLorem()').form-control
          div.form-group
            label.control-label 문단 길이
            input(type='number' ng-model='query.l' ng-change='getLorem()').form-control
          div.form-group
            div.checkbox
              label
                input(type='checkbox' ng-model='query.c' ng-true-value='1' ng-false-value='0' ng-change='getLorem()')
                ??
          div.form-group
            button(ng-click='getLorem()').btn.btn-success
              span.glyphicon.glyphicon-repeat  새로고침
    div.col-sm-8
      div.row
        div.text-right
          div.fb-like(data-href="http://hipsum.mnpk.org" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true")
      div.row
        p
        div.well
          div(ng-repeat='l in lorem')
            p {{ l }}

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
  script(src='/javascripts/core.js')
