doctype html
html(ng-app='hipsum')
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='/javascripts/ga.js')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body.header
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') HIPSUM
      div.navbar-collapse.collapse(id="navbar-1")
         ul.nav.navbar-nav.navbar-right
           li
             a(href='/about/') About
           li
             a(href='/api-guide/') API
           li
             a(href='https://github.com/mnpk/hipsum') Github
  block content
  div.footer
   nav.navbar-inverse.navbar-fixed-bottom
     div.container
        div.navbar-inner.navbar-right
          p.navbar-text copyright 2015 mnpk.

