body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #f5f5f5;
}

a {
  color: #00B7FF;
}

.header {
   background: url(/images/15.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.panel-transparent {
  background: none;
  padding-left: 0;
  -webkit-box-shadow: none;
}

.panel-transparent .panel-body {
  padding-left: 0;
}

.well {
  color: #333;
}

.social-button {
  margin: 0 3px;
  float: left;
}

.has-error {
  color: #FFC0C0 !important; 
}
.has-error label {
  color: #FFC0C0 !important; 
}

.navbar-xs { min-height:28px; height: 28px; }
.navbar-xs .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-xs .navbar-text { margin-top:5px; margin-bottom: 5px; }
