body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel-transparent {
  background: none;
  padding-left: 0;
  -webkit-box-shadow: none;
}
